<h1>My Bulk Discounts</h1>

<table id="discounts-info">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Percent Off</th>
    <th>Quantity Threshold</th>
  </tr>
  <% @discounts.each do |discount| %>
    <tr id="discount-<%= discount.id %>">
      <td><%= button_to "delete", "/merchants/#{@merchant.id}/discounts/#{discount.id}", method: :delete %></td>
      <td><a href="/merchants/<%= @merchant.id %>/discounts/<%= discount.id %>"><%= discount.name %></a></td>
      <td><%= discount.percent %>%</td>
      <td><%= discount.threshold %></td>
    </tr>
  <% end %>
</table>

<h2>Upcoming Holidays</h2>
<% @next_3_holidays.each do |holiday| %>
  <p><%= holiday.name.upcase %>: <%= holiday.date %></p>
<% end %>

<%= link_to "Make a New Discount", "/merchants/#{@merchant.id}/discounts/new" %>
